body {
    padding: 2em;
    line-height: 1.5;
}

label {
    margin-bottom: 0.25em;
}

input.error {
    border-color: #c87872;
    box-shadow: 0 0 3px rgba(171,41,32,0.25);
}
input[type='text'],input[type='email'],input[type='submit']{
    display: block;
}
input[type='submit']{
    margin-top: 2rem;
}

.form-control{
    width: 40%;
    height: 28px;
}
.form-group{
    margin-top: 1rem;
    margin-bottom: 0;
}
.user__label{
    font-weight: 900;
}